.inputContainer {
  display: grid;
  grid-template-columns: 1fr 90px;

  gap: 0.5rem;
}

.inputContainer input {
  padding: 1rem;
  background-color: var(--gray-500);
  border-radius: 8px;
  color: var(--gray-300);
  outline: transparent;
}

.inputContainer input:not(:focus) {
  border: 1px solid var(--gray-700);
}

.inputContainer input:focus {
  border: 1px solid var(--purple-dark);
}

.inputContainer button[type="submit"] {
  background: var(--blue-dark);
  border: 0;
  color: var(--gray-100);
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.4;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  border-radius: 8px;

  transition: background-color 0.1s;
}

.inputContainer button[type="submit"]:not(:disabled):hover {
  background: var(--blue);
}

.inputContainer button[type="submit"]:disabled {
  opacity: 0.9;
  cursor: not-allowed;
}

.inputContainer button[type="submit"] svg {
  margin-left: 0.5rem;
}

.taskList {
  margin-top: 4rem;
}

@media(max-width:374px) {
  .inputContainer {
    grid-template-columns: 1fr;
  }
}